<div>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" >
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div>
        <button [disabled]="loading" class="">Login</button>
    </div>
</form>
</div> 